.index {
  background: $homepage-background-color;
}

.github-ribbon {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}

.palava-logo {
  width: 250px;
  height: 250px;
}

 .homepage {
    text-align: center;
    .content {
      display: inline-block;
      text-align: center;
      margin-top: 20vh;
    }

    .join-room {
      margin-top: 52px;
      margin-bottom: 20px;

      input, button {
        font-size: 19px;
        line-height: 30px;
        height: auto;
        border-radius: 0 !important;

        &.room-id {
          border-radius: 3px 0 0 3px !important;
          border: 1px solid #bbb;
          border-right: none;
          width: 82vw;
          max-width: 350px;
          padding: 4px 8px;
          background: #fff;
          color: $font-color;
          &:focus, &:active {
            border-right: none;
            box-shadow: inherit;
          }
        }
      }
      button {
        border-radius: 0 3px 3px 0 !important;
      }

      .join-room-fields > * {
        display: block;
        margin: auto;

        &.button-separator {
          margin-top: 8px;
          font-size: 18px;
          line-height: 36px;
          cursor: default;
          color: #999;
          a {
            color: $link-hover-color;
          }
        }
      }
    }

    ::-webkit-input-placeholder, ::-moz-placeholder {
      color: #999;
    }
}

.remarks {
  padding-top: 3em;
  max-width: 92%;
  @media (min-width: 601px) {
    max-width: 70%;
  }
}