.index {
  background: $homepage-background-color;
}

.github-ribbon {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}

 .homepage {
    text-align: center;
    .content {
      display: inline-block;
      vertical-align: middle;
      text-align: center;
      padding: 0px;
      margin-top: 12%;
      img:first-child {
        padding-left: 0px;
        width: 250px;
        height: 250px;
      }
    }

    .join-room {
      margin-top: 42px;
      margin-bottom: 20px;

      input, button {
        font-size: 18px;
        border-radius: 0 !important;
      }

      .join-room-fields > * {
        display: block;
        margin: auto;

        &.button-separator {
          margin-top: 8px;
          font-size: 18px;
          line-height: 36px;
          cursor: default;
          color: #999;
          a {
            color: $link-hover-color;
          }
        }

      }
      .room-id {
        border-right: none;
        width: 280px;
        background: #ddd;
        color: $font-color;
        &:focus {
          border-right: 0px solid pink;
        }
      }
    }

    ::-webkit-input-placeholder, ::-moz-placeholder {
      color: #999;
    }
}
