.index {
    background: $homepage-background-color;
}

 .homepage {
    text-align: center;
    .content {
      display: inline-block;
      vertical-align: middle;
      text-align: center;
      width: 600px;
      padding: 0px;
      margin-top: 150px;
      img:first-child {
        padding-left: 0px;
      }
    }

    .join-room {
        margin: 30px 50px 16px 91px;
        padding-bottom: 10px;
        padding-top: 13px;
        input, button {
            font-size: 20px;
            line-height: 26px;
            height: 100%;
        }
        p {
            text-align: justify;
        }
    }
    .btn-private {
      margin-top: -10px;
      margin-left: 15px;
    }
    .button-separator {
      margin-left: 15px;
      font-size: 20px;
      line-height: 36px;
      display: inline-block;
      position: relative; top: -2px; // ...
      cursor: default;
    }

    .room-id {
      border-right: 0px solid pink;
      padding-left: 7px;
      width: 250px;
      background: #ddd;
      color: $font-color;
      &:focus {
        border-right: 0px solid pink;
      };
    }
    .button-separator {
      color: #999;
    }
    ::-webkit-input-placeholder, ::-moz-placeholder {
      color: #999;
    }
}
