.info {
  margin-top: 60px;
  margin-bottom: 60px;

  .info-header {
    text-align: center;
    margin-bottom: 40px;
    img {
      margin: auto;
      width: 150px;
      height: 150px;
    }
  }
}

main {
  margin-right: 0px;
  padding: 0px 10px;
  max-width: 800px;
  margin: auto;

  p {
    color: $font-color;
    margin-bottom: 10px;
    text-align: justify;
    font-size: 15px;
    line-height: 25px;
  }

  .vcard {
    margin-bottom: 0px;
  }

  .activity-area {
    display: inline-block;
    margin-left: 11px;
    margin-right: 11px;
    width: 30%;
    vertical-align: top;
  }
}

#contact {
  p, .vcard {
    text-align: center;
  }
}