@media only screen and (max-width: 600px) {
  .plv-stage-container {
    display: none;
  }

  .navbar-fixed-top {
    position: absolute;
  }

  .plv-video-bar {
    width: 100%;
    .plv-participants {
      margin: 0 15px;
    }
    .plv-small-footer {
      display: block;
      footer {
        width: auto;
        padding: 15px;
        margin-bottom: 0;
        position: static;
        white-space: normal;
        height: auto;
        ul {
          padding: 0;
          display: block;
          width: auto;
          li {
          width: 100%;
            display: block;
            line-height: 32px;
            border-right: none;
            &:not(:last-child) {
              border-bottom: 1px solid $footer-line-color;
            }
          }
        }
      }
    }

    .plv-video-wrapper {
      .plv-video-volume {
        width: 3vw;
        left: 2.4vw;
        bottom: 3.6vw;
        font-size: 4.2vw;
        padding: 2.4vw 4.2vw 2.4vw 2.4vw;
      }
    }
  }

  #share-link-text {
    strong {
      display: none;
    }
  }

  .modal {
    width: 100%;
    left: 0;
    top: $nav-height !important;
    margin-left: 0;
  }
}