<footer>
  <div class="row.fluid">
    <ul>      
      <li><div class="span5"><a href="/info/how">How to Use</a></div></li>

      <li id="subscribe-popover" data-trigger="manual" data-title="palava: News &amp; Features" data-placement="top" data-html="true" data-delay="200" data-animation="true" data-content='<%= partial "html/shared/register" %>'><div class="span5"><a class="subscribe" href="javascript:void(0)">Get Updates</a></li>
      <li><div class="span5"><a href="https://blog.palava.tv">Blog</a></div></li>
      
      <li><div class="span5"><a href="https://twitter.com/palavatv">Twitter</a></div></li>
      <li><div class="span5"><a href="https://github.com/palavatv">Code</a></div></li>
    
      <ul class="pull-right">
        <li><div class="span2"><a href="/info/ev">palava e. V.</a></div></li>
        <li><div class="span2"><a href="/info/contact">Imprint</a></div></li>
      </ul>
    </ul>    
  </div>
</footer>