<div class="modal fade modal-center" id="modal-user-media-configurator" data-backdrop="static">
  <div class="modal-content">
    <div class="modal-header">
      <h3>You are about to join a <a href="/info/how">palava</a> conference!</h3>
    </div>
    <div class="modal-body">
      <p>Please choose which streams you want to send</p>
      <ul class="user-media-buttons">
        <li><button ng-click="initConference({video: true, audio:true})" id="user-media-video-audio" class="btn btn-primary" autofocus="autofocus">Video &amp; Audio</button></li>
        <li><button ng-click="initConference({video: true, audio:false})" id="user-media-video" class="btn btn-info">Video only</button></li>
        <!-- <li><button ng-click="initConference({video: false, audio:true})" id="user-media-audio" class="btn btn-info">Audio only</button></li> -->
      </ul>
    </div>
  </div>
</div>
