<div id="subscribe-div">
  <form class="input-append input-group" id="subscribe-form">
    <input type="email" name="email" id="email" class="input-medium" placeholder="Enter your email" />
    <span class="input-group-btn">
      <button id="submit-potential" class="btn btn-primary">Subscribe</button>
    </span>
  </form>
  <div class="thank-you">Thank you for subscribing!</div>
  <div class="sorry"></div>
</div>
