<div id="subscribe-div">
  <form class="input-append" id="subscribe-form">
    <input type="email" name="email" id="email" class="input-medium" placeholder="Enter your email" />
    <button id="submit-potential" class="btn btn-primary">Subscribe</button>
  </form>
  <div class="thank-you">Thank you for subscribing!</div>
  <div class="sorry"></div>
</div>