---
layout: slim
---

<div id="wrap">
  <div class="homepage earth">
    <div class="content container">
      <%= image_tag 'palava.png', alt: 'palava.tv' %>
      <p class="tagline"><strong>browser-to-browser video</strong></p>
      <form class="join-room">
        <div class="hide subscribe-info">
          <p><strong>Thank you</strong> for being interested in palava. Please enter your email address to receive the latest news on palava and WebRTC!</p>
        </div>
        <div class="hide nosupport">
          <p><strong>Sorry!</strong> Your web browser is not compatible with the latest technologies for video communication on the web. In order to use <a href="/info/how">palava</a>, you will need to install a web browser that supports WebRTC:</p>
          <%= partial 'html/shared/support_list' %>
        </div>
        <div class="join-room-fields">
          <div class="input-append">
            <input type="text" maxlength="50" name="room_id" id="room_id" class="input-large room-id" placeholder="Conference Name" />
            <button class="btn btn-primary btn-go">▸</button>
          </div>
          <span class="button-separator">or</span>
          <button class="btn btn-warning btn-private">Private</button>
        </div>
      </form>
    </div>
  </div>
</div>

<a href="https://github.com/palavatv"><%= image_tag 'github.png', alt: 'Fork me on GitHub', style: "position: absolute; top: 0; right: 0; border: 0;" %></a>

<%= partial "html/shared/footer" %>
