<div class="noscript-hint">
  <p>
    <strong>palava is a <a href="http://en.wikipedia.org/wiki/WebRTC">WebRTC</a> based communication platform.</strong>
  </p>
  <p>
    Your web browser has JavaScript deactivated or is not compatible with the newest JavaScript features.<br/>
    Please use <%= link_to settings.chrome, settings.chrome_link %> or <%= link_to settings.firefox, settings.firefox_link %> and activate JavaScript to be able to use <a href="/" title="Reload!">palava!</a>
  </p>
</div>