---
layout: false
---

<!doctype html>
<html lang="en" ng-app="palava-portal">
  <head>
    <title ng-bind="title">palava.tv</title>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="palava, webrtc, video, chat, conference">
    <meta name="description" content="palava enables video communication with your friends and colleagues from within your web browser! No registration is required and you don't need to install any browser plugins!">
    <%= stylesheet_link_tag "all" %>
    <%= javascript_include_tag "all" %>
  </head>

  <body class="<%= page_classes %>" ng-controller="ApplicationController">
    <div ng-view id="view" class="view">
      <%= partial '/html/noscript' %>
    </div>
  </body>
</html>
