---
layout: false
---

<!doctype html>
<html lang="en">
  <head>
    <title>palava.tv</title>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="palava, webrtc, video, chat, conference, skype-alternative">
    <meta name="description" content="palava is simplistic video communication with your friends and colleagues from within your web browser. No registration or browser plugin required.">
    <%= stylesheet_link_tag "all" %>
    <%= javascript_include_tag "palava","all" %>
  </head>

  <body>
    <div id="app">
      <div class="noscript-hint" id="noscript-hint">
        <p>
          <strong>palava is a <a href="https://en.wikipedia.org/wiki/WebRTC">WebRTC</a> based video communication platform.</strong>
        </p>
        <p>
          Your web browser has JavaScript deactivated or is not compatible with the newest JavaScript features.<br/>
          Please use a recent version of <a href="https://google.com/chrome">Google Chrome</a> or <a href="https://www.mozilla.org/firefox">Mozilla Firefox</a> and activate JavaScript to be able to use <strong>palava.tv</strong>!
        </p>
      </div>
      <script type="text/javascript">
        document.getElementById('noscript-hint').style.display = 'none';
      </script>
    </div>
  </body>
</html>
