<div class="container">
  <div id="contact">
    <h2>Internet</h2>
    <p><a href="mailto:contact@palava.tv">contact@palava.tv</a> | <a href="https://twitter.com/palavatv">@palavatv</a></p>

    <h2>Address</h2>
    <address>
      palava e.V.<br/>
      Thomas-Müntzer-Platz 5<br/>
      01307 Dresden<br/>
      Germany
    </address>

    <h2>Representatives</h2>
    <p>Marius Melzer / Stephan Thamm / Jan Lelis</p>

    <h2>Registration</h2>
    <p>Amtsgericht Dresden / VR 5967</p>
  </div>
</div>